<input
   type="text"
   placeholder="Buscar peliculas"
   [value]="searchTerm()"
   (input)="searchTerm.set($event.target.value); onSearch()"
>
<!-- Filtros por género -->
<div class="genres-filter">
  <button
    (click)="filterByGenre(0)"
    [class.active]="selectedGenre() === 0"
  >
    Todos
  </button>


@for (genre of genres(); track genre.id) {
   <button
   (click)="filterByGenre(genre.id)"
   [class.active]="selectedGenre() === genre.id"
   >
   {{ genre.name }}
   </button>
}
</div>

@if(loading()) {
    <p>Cargando...</p>
 }

 @if (error()) {
    <p class="error">{{error()}}</p>
 }

 @for (movie of movies(); track movie.id) {
    <app-movie-card [movie]="movie"></app-movie-card>
 }
